# Created by https://www.gitignore.io/api/scheme,racket

### Racket ###
*.rkt~
*.rkt.bak
\#*.rkt#
\#*.rkt#*#
*.dep
*.zo

compiled

### Scheme ###
*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm


# End of https://www.gitignore.io/api/scheme,racket

