# Created by https://www.gitignore.io/api/scheme

### Scheme ###
*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

# End of https://www.gitignore.io/api/scheme

### WINDOWS ###
*.bak

#### MAC ###
.DS_Store
